<h1>All Movies</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Release Date</th>
    <th>Rating</th>
    <th>Duration</th>
    <th>Genre</th>
    <th>Language</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.release_date %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.duration %> hrs </td>
      <td><%= movie.genre %></td>
      <td><%= movie.language %></td>
      <td>
        <div style="display: flex; gap: 5px;">
          <%= link_to 'View', admin_movie_path(movie), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_admin_movie_path(movie), class: "btn btn-warning" %>
          <%= button_to "Delete", admin_movie_path(movie), method: :delete, class: "btn btn-danger", turbo: false %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Create New Movie', new_admin_movie_path %>
